@font-face {
    src: url(fonts/ModernWarfare-OV7KP.ttf);
    font-family: ModernWarfare;
  }
  
  @font-face {
    src: url(fonts/VirtualRotRegular-R51V.ttf);
    font-family: VirtualRot;
  }